
<body style="background-color:#BFC4C3;" link="#EEF9F8" vlink="#EEF9F8" alink="#EEF9F8">
	<div id="div" align=center><h1 style="border: 2px solid #EEF9F8; padding: 10px; background-color: #EEF9F8; color: #999999; font-family: arial,helvetica; font-size: 40px;">SISTEMA DE APOYO A DECISIONES</h1></div>
	<div id="div" align=center>
		<p style="font-size:20px; font-family:arial; background-color: #999999; padding: 30px;"><b>
			<a href="/index" style="text-decoration:none;"> /   Home   / </a>
			<a href="/empresas" style="text-decoration:none;">    Empresas   / </a>
			<a href="/indicadores" style="text-decoration:none;">    Indicadores   / </a>
			<a href="/metodologias" style="text-decoration:none;">    Metodologias   / </a>
			<a href="mailto:grupo7.dds@gmail.com" style="text-decoration:none;">    Contacto   / </a>
		</b></p>
	</div>
	
	
	
	<div style='height: 550px; width: 300px; border: 3px solid #999999; background-color: #999999; float: left;'>
		<p style="font-size:20px; font-family:arial; background-color: #DF2A56; padding: 30px;">
			EVALUAR INDICADOR
		</p>
		<p style="font-size:20px; font-family:arial; background-color: #2A40DF; padding: 30px;">
			<a href="/indicador/cargar"  style="text-decoration:none;">CARGAR INDICADOR</a>
		</p>
			
	</div>
		<p style="border: 2px solid #999999; padding: 15px; background-color: #999999; color: dark grey; font-family: arial,helvetica; font-size: 20px;">Complete los datos del Indicador a evaluar:</p>
		<div id="cen" align="center">
			<FORM name="formListaIndicadores" action="/indicadores" method="GET" onsubmit="javascript: return enviar();">
				<p style="border: 2px solid #999999; padding: 10px; background-color: #999999; color: dark grey; font-family: arial,helvetica; font-size: 20px;">Seleccionar Indicador</p>
				
				<select id="mySelectIndicadores" onchange="myFunction()" name="mySelectIndicadores" disabled>
					<option > {{this.[0]}}</option>
 				  							
		</select>
			
			<br><br>
				<p style="border: 2px solid #999999; padding: 10px; background-color: #999999; color: dark grey; font-family: arial,helvetica; font-size: 20px;">Seleccionar Empresa</p>
				
				<select id="mySelectEmpresas" onchange="myFunction()" name="mySelectEmpresas" disabled>
					<option >{{this.[1]}}</option>
												
				</select>
			<br><br>
				<p style="border: 2px solid #999999; padding: 10px; background-color: #999999; color: dark grey; font-family: arial,helvetica; font-size: 20px;">Seleccionar Per√≠odo</p>
				
				<select id="mySelectPeriodos" onchange="myFunction()" name="mySelectPeriodos" disabled>
					<option >{{this.[2]}}</option>
					
								
				</select>
				<input type="submit" onsubmit="myFunction()" id="obtenerIndicador" value="Calcular" disabled />
				<div>
		<p align="centerî style=" border: 2px solid #999999; padding: 10px; background-color: #999999; color: dark grey; font-family: arial,helvetica; font-size: 20px;">
			Resultado Indicador: {{this}}
		</p>
		<input type="submit" onsubmit="myFunction()" id="volverAIndicadores" value="Volver" />
		</div>
			</form>
			<p id="demo"></p>
			
						
		</div>			 
	</div>
</body>